<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ciudadanos</title>
    <link rel="stylesheet" href="../../styles/tables/tables.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
   <div>
    <h1>Información de los ciudadanos</h1>
    <a href="../../views/listado.html"> Ir atrás </a>

    <table id="table-ciudadanos" class="all-tables">
        <thead>
            <tr>
                <th>Cedula</th>
                <th>Nacionalidad</th>
                <th>Estado civil</th>
                <th>Numero de acta del nacimiento</th>
                <th>Nombre</th>
                <th class="center">Acciones</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="body">

        </tbody>
    </table>
   </div>
   <script src="../../server/table-ciudadanos.js"></script>
</body>
</html>
