<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ciudadanos</title>
    <link rel="stylesheet" href="../../styles/tables/tables.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
   <div>
    <h1>Información de los ciudadanos</h1>
    <a href="../../views/listado.html"> Ir atrás </a>
    <!-- <a href="../../views/modificar/modificar-ciudadano.html"> Modificar </a> -->

    <table id="table-ciudadanos">
        <thead>
            <tr>
                <th>Cedula</th>
                <th>Nacionalidad</th>
                <th>Estado civil</th>
                <th>Numero de acta del nacimiento</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody id="body">
            <tr>
                <td>Carlos</td>
                <td>123456789</td>
                <td>M</td>
                <td>2021-10-10</td>
                <td></td>
            </tr>
            <tr>
                <td>Carlos</td>
                <td>123456789</td>
                <td>M</td>
                <td>2021-10-10</td>
            </tr>
        </tbody>
    </table>
   </div>
   <script src="../../server/table-ciudadanos.js"></script>
<script>

</script>
</body>
</html>