<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Defunciones</title>
    <link rel="stylesheet" href="../../styles/tables/tables.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <div>
        <h1>Información de las defunciones</h1>
        <a href="../../views/listado.html"> Ir atrás </a>
        <!-- <a href="../../views/modificar/modificar-defuncion.html"> Modificar </a> -->
       
        <table id="table-defunciones">
            <thead>
                <tr>
                    <th>Cedula</th>
                    <th>Fecha defuncion</th>
                    <th>Hora defuncion</th>
                    <th>Lugar de defuncion</th>
                    <th>Destino del cadaver</th>
                    <th>Causa de defuncion</th>
                    <th>Acciones</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="body">
 
            </tbody>
    </div>
    <script src="../../server/table-defunciones.js"></script>
</body>
</html>