<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Divorcios</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="../../styles/tables/tables.css">
</head>
<body>
    <div>
        <h1>Información de los divorcios</h1>
        <a href="../../views/listado.html"> Ir atrás </a>

        <table id="table-divorcios" class="all-tables">
            <thead>
                <tr>
                    <th>Nro de Acta</th>
                    <th>Divorciado 1</th>
                    <th>Divorciado 2</th>
                    <th>Fecha del divorcio</th>
                    <th>Acciones</th>
                    <th class="center"></th>
                </tr>
            </thead>
            <tbody id="body">

            </tbody>
        </table>
    </div>
    <script src="../../server/table-divorcios.js"></script>
</body>
</html>