<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matrimonios</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="../../styles/tables/tables.css">
</head>
<body>
    <div>
        <h1>Información de los matrimonios</h1>
        <a href="../../views/listado.html"> Ir atrás </a>
        <table id="table-matrimonios">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Contrayente 1</th>
                    <th>Contrayente 2</th>
                    <th>Padre Contrayente 1</th>
                    <th>Madre contrayente 1</th>
                    <th>Padre Contrayente 2</th>
                    <th>Madre contrayente 2</th>
                    <th>Fecha de matrimonio</th>
                    <th>Acciones</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="body">
              
            </tbody>
        </table>
    </div>
    <script src="../../server/table-matrimonios.js"></script>
</body>
</html>