<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nacimientos</title>
    <link rel="stylesheet" href="../../styles/tables/tables.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <div>
        <h1>Información de los nacimientos</h1>
        <a href="../../views/listado.html"> Ir atrás </a>
        <table id="table-nacimientos">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Cedula</th>
                    <th>Sexo</th>
                    <th>Fecha de nacimiento</th>
                    <th>Lugar de nacimiento</th>
                    <th>Cedula del padre</th>
                    <th>Cedula de la madre</th>
                    <th>Cedula del testigo 1</th>
                    <th>Cedula del testigo 2</th>
                    <th>Parroquia</th>
                    <th>Acciones</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="body">
                <tr>
                    
                </tr>
                <tr>
                    
                </tr>
            </tbody>
        </table>
    </div>
    <script src="../../server/table-nacimientos.js"></script>
</body>
</html>