<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Ciudadano</title>
    <link rel="stylesheet" href="../styles/models/registration.css">
</head>
<body>
    <h1>Registro de Ciudadano</h1>
    <form action="/registro_ciudadano" method="POST" class="registration-form">
        <label for="cedula">Cedula:</label>
        <input type="text" name="cedula" id="cedula">
        <label for="nacionalidad">Nacionalidad: </label>
        <input type="text" name="nacionalidad" id="nacionalidad">
        <label for="estado_civil">Estado civil: </label>
        <input type="text" name="estado_civil" id="estado_civil">

        <input type="submit" value="Registrar">
        <a href="./registro.html" class="back-button">Ir atrás</a>
    </form>
</body>
</html>