<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado</title>
    <link rel="stylesheet" href="../styles/models/listado.css">
</head>
<body>
   <div>
    <h1>Listado de informacion</h1>
    <h2>¿Qué tabla te gustaria ver?</h2>
    <a href="./listados/nacimientos-table.html" class="a">Nacimientos</a>
    <a href="./listados/ciudadadanos-table.html" class="a">Ciudadanos</a>
    <a href="./listados/defunciones-table.html" class="a">Defunciones</a>
    <a href="./listados/matrimonios-table.html" class="a">Matrimonios</a>
    <a href="./listados/divorcios-table.html" class="a">Divorcios</a>
   </div>
   <a href="../index.html" class="back-button" class="a">Ir atrás</a>


</html>