<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Matrimonio</title>
    <link rel="stylesheet" href="../styles/models/registration.css">
  </head>
  <body>
    <h1>Matrimonios</h1>
    <form action="" class="registration-form">
      <label for="contrayente">Nombre del Contrayente 1: </label>
      <input type="text" name="contrayente" id="contrayente" />
      <label for="Contrayente 2">Nombre del Contrayente 2: </label>
      <input type="text" name="Contrayente 2" id="Contrayente 2" />

      <label for="contrayente_padre_1">Nombre de la mama del contrayente 1: </label>
      <input type="text" name="contrayente_padre_1" id="contrayente_padre_1" />
      <label for="contrayente_padre_2">Nombre de el papa del contrayente 1: </label>
      <input type="text" name="contrayente_padre_2" id="contrayente_padre_2" />

      <label for="contrayente2_padre_1">Nombre de la mama del contrayente 2: </label>
      <input
        type="text"
        name="contrayente2_padre_1"
        id="contrayente2_padre_1"
      />
      <label for="contrayente2_padre_2">Nombre de el papa del contrayente 2: </label>
      <input
        type="text"
        name="contrayente2_padre_2"
        id="contrayente2_padre_2"
      />
      <label for="fecha_ActaMatrimonio">Fecha del acta:</label>
      <input type="date" value="2014-06-08" name="fecha_ActaMatrimonio" id="fecha_ActaMatrimonio">


      <input type="submit" value="Registrar" />
      <a href="./registro.html" class="back-button">Ir atrás</a>

    </form>


</html>
