<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nacimiento</title>
    <link rel="stylesheet" href="../styles/models/registration.css">
</head>
<body>
    <h1>Nacimientos</h1>
    <form action="" class="registration-form">
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" id="nombre">

        <label for="apellido">Apellido:</label>
        <input type="text" name="apellido" id="apellido">

        <label for="cedula">Cedula:</label>
        <input type="int" name="cedula" id="cedula">

        <label for="sexo">Sexo:</label>
        <input type="text" name="sexo" id="sexo">

        <label for="fecha">Fecha de nacimiento:</label>
        <input type="date" value="2014-06-08" name="fecha" id="fecha">

        <label for="lugar">Lugar de nacimiento:</label>
        <input type="text" name="lugar" id="lugar">

        <label for="padre">Nombre del padre:</label>
        <input type="text" name="padre" id="padre">

        <label for="madre">Nombre de la madre:</label>
        <input type="text" name="madre" id="madre">

        <label for="-id-parroquia">ID de la parroquia:</label>
        <input type="text" name="-id-parroquia" id="-id-parroquia">

        <input type="submit" value="Registrar">
        <a href="./registro.html" class="back-button">Ir atrás</a>

    </form>
</body>
</html>