<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nuevo Registro</title>
    <link rel="stylesheet" href="../styles/models/selection.css" />
  </head>
  <body>
    <h1>Selccione el tipo de registro que quiere realizar.</h1>
    <ul>
      <a href="nacimiento.html" class="a"><li>Nacimiento</li></a>
      <a href="ciudadano.html" class="a"><li>Ciudadano</li></a>
      <a href="matrimonio.html" class="a"><li>Matrimonial</li></a>
      <a href="divorcio.html" class="a"><li>Divorcio</li></a>
      <a href="defuncion.html" class="a"><li>Defuncion</li></a>
    </ul>
    <a class="back-button">Ir atrás</a>
  </body>
</html>
