<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ciudadanos</title>
    <link rel="stylesheet" href="../../styles/tables/ciudadanos.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
   <div>
    <h1>Información de los ciudadanos</h1>
    <a href="../../views/listado.html"> Ir atrás </a>
    <a href="../../views/modificar/modificar-ciudadano.html"> Modificar </a>
    <a href="../../views/registro.html"> Eliminar </a>

    <table id="table-ciudadanos">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Cedula</th>
                <th>Sexo</th>
                <th>Fecha de nacimiento</th>
                <th>Lugar de nacimiento</th>
                <th>Cedula del padre</th>
                <th>Cedula de la madre</th>
                <th>Cedula del testigo 1</th>
                <th>Cedula del testigo 2</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Carlos</td>
                <td>123456789</td>
                <td>M</td>
                <td>2021-10-10</td>
                <td>San Jose</td>
                <td>123456789</td>
                <td>123456789</td>
                <td>123456789</td>
                <td>123456789</td>
            </tr>
            <tr>
                <td>Carlos</td>
                <td>123456789</td>
                <td>M</td>
                <td>2021-10-10</td>
                <td>San Jose</td>
                <td>123456789</td>
                <td>123456789</td>
                <td>123456789</td>
                <td>123456789</td>
            </tr>
        </tbody>
    </table>
   </div>
<script>

     document.addEventListener("DOMContentLoaded", (e) => {
    //   const miForm = document.getElementById("form-ciudadanos");
    axios.get("http://localhost:8000/Ciudadanos/read")
          .then((response) => {
            console.log(response);
            alert("Datos mostrados correctamente");
          })
          .catch((error) => {
            console.error(error);
            alert("Error al mostrar los datos");
          });
      });

</script>
</body>
</html>