* {
    font-family: Arial, Helvetica, sans-serif;
} 
 
 /* Styles for the table */
 table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1%;
}

/* Styles for the container */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Styles for the heading */
h1 {
    text-align: center;
    margin-bottom: 20px;
}

.back-button:hover {
    background-color: #ddd;
}

a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4caf50;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
}

a:hover {
    background-color: green;
}

.back-button {
    color: black;
    background-color: #45a049;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 20px;
}

.delele-button {
    color: white;
    background-color: #e90606;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
}

.delele-button:hover {
    background-color: #b40000;
}

.edit-button {
    color: white;
    background-color: #4caf50;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.center {
    text-align: center;
}

.margin {
    margin-left: -56%;
}

#table-ciudadanos {
    width: 100%;
    border-collapse: collapse;
  }

  #table-ciudadanos th, #table-ciudadanos td {
    border: 1px solid #ddd; /* Borde gris */
    padding: 8px; /* Espacio interno */
  }

  #table-ciudadanos th {
    background-color: #f2f2f2; 
  }


  #table-defunciones {
    width: 100%;
    border-collapse: collapse;
  }

  #table-defunciones th, #table-defunciones td {
    border: 1px solid #ddd; /* Borde gris */
    padding: 8px; /* Espacio interno */
  }

  #table-defunciones th {
    background-color: #f2f2f2; 
  }

