<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Modificacion</title>
    <link rel="stylesheet" href="../../styles/modificar/modificar.css">
</head>
<body>
    <div>
        <h1>
            Datos a modificar:
        </h1>
        <form action="../../controllers/modificaciones/modificar-divorcio.php" method="PUT" class="registration-form" id="modificar-divorcios">
            <label for="divorciado1_cedula">Cedula del esposo: </label>
            <input type="number" name="divorciado1_cedula" id="divorciado1_cedula" required>
            <label for="divorciado2_cedula">Cedula de la esposa: </label>
            <input type="number" name="divorciado2_cedula" id="divorciado2_cedula" required>
            <label for="fecha_ActaDivorcio">Fecha de divorcio: </label>
            <input type="date" name="fecha_ActaDivorcio" id="fecha_ActaDivorcio" required>

            <input type="submit" value="Modificar">
        </form> 
        <a href="../tables/divorcios-table.html" class="back-button">Ir atrás</a>
    </div>
    <script src="../../server/modificar/modificar-divorcio.js"></script>
</body>
</html>l