<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificacion</title>
    <link rel="stylesheet" href="../../styles/modificar/modificar.css">
</head>
<body>
    <div>
        <h1>Datos a modificar: </h1>
    <form action="../../controllers/modificaciones/modificar-matrimonio.php" method="PUT" class="registration-form" id="modificar-matrimonio">
        <label for="contrayente">Cedula del Contrayente 1: </label>
        <input type="number" name="contrayente1_cedula" id="contrayente" required>
        <label for="Contrayente 2">Cedula del Contrayente 2: </label>
        <input type="number" name="contrayente2_cedula" id="Contrayente 2" required>
        <label for="contrayente_padre_1">Cedula de la mama del contrayente 1: </label>
        <input type="number" name="contrayente1_padre1_cedula" id="contrayente_padre_1" required>
        <label for="contrayente_padre_2">Cedula de el papa del contrayente 1: </label>
        <input type="number" name="contrayente1_padre2_cedula" id="contrayente_padre_2" required>
        <label for="contrayente2_padre_1">Cedula de la mama del contrayente 2: </label>
      <input
        type="number"
        name="contrayente2_padre1_cedula"
        id="contrayente2_padre_1"
      />
      <label for="contrayente2_padre_2">Cedula de el papa del contrayente 2: </label>
      <input
        type="number"
        name="contrayente2_padre2_cedula"
        id="contrayente2_padre_2"
      />
      <label for="fecha_ActaMatrimonio">Fecha del acta:</label>
      <input type="date" name="fecha_ActaMatrimonio" id="fecha_ActaMatrimonio">
        <input type="submit" value="Modificar">
    </form>
    <a href="../tables/matrimonios-table.html" class="back-button">Ir atrás</a>
    </div>
    <script src="../../server/modificar/modificar-matrimonio.js"></script>
</body>
</html>l