<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/modificar/modificar.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Modificacion</title>

</head>
<body>
    <div>
        <h1>Datos a modificar: </h1>
    <form action="../../controllers/modificaciones/modificar-defuncion.php" method="PUT" class="registration-form" id="modificar-defunciones">
        <label for="cedula">Cedula: </label>
        <input type="number" name="cedula" id="cedula">

        <label for="fecha_defuncion">Fecha de defunción:</label>
        <input type="date" name="fecha_defuncion" id="fecha_defuncion">

        <label for="hora_defuncion">Hora de defunción:</label>
        <input type="time" name="hora_defuncion" id="hora_defuncion">

        <label for="lugar_defuncion">Lugar de defuncion: </label>
        <input type="text" name="lugar_defuncion" id="lugar_defuncion">

        <label for="destino_cadaver">Destino del cadáver: </label>
        <input type="text" name="destino_cadaver" id="destino_cadaver">

        <label for="causa_defuncion">Causa de muerte: </label>
        <input type="text" name="causa_defuncion" id="causa_defuncion">
        <input type="submit" value="Modificar">
    </form>
    <a href="../tables/defunciones-table.html" class="back-button">Ir atrás</a>
    </div>
    <script src="../../server/modificar/modificar-defuncion.js"></script>

</body>
</html>l