<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Divorcio</title>
    <link rel="stylesheet" href="../../styles/models/registration.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <h1>Divorcios</h1>
    <form
      action=""
      class="registration-form"
      method="post"
      id="form-divorcios"
    >

        <label for="id_divorcios">ID: </label>
        <input type="number" name="id" id="id_divorcios">

        <label for="cedula_divorciado1">Cedula Esposo: </label>
        <input type="number" name="divorciado1_cedula" id="cedula_divorciado1">

        <label for="cedula_divorciado2">Cedula Esposa: </label>
        <input type="number" name="divorciado2_cedula" id="cedula_divorciado2">

        <label for="fecha_ActaMatrimonio">Fecha del acta:</label>
        <input type="date" name="fecha_ActaDivorcio" id="fecha_ActaMatrimonio">

        <input type="submit" value="Registrar">
        <a href="../registro.html" class="back-button">Ir atrás</a>
    </form>
</body>

  <script>

    document.addEventListener("DOMContentLoaded", (e) => {
      const miForm = document.getElementById("form-divorcios");
      miForm.addEventListener("submit", (e) => {
        e.preventDefault();
        const formData = new FormData(miForm);
        const jsonData = Object.fromEntries(formData);
        axios
          .post("http://localhost:8000/Divorcios/insert", jsonData)
          .then((response) => {
            console.log(response);
            alert("Registro exitoso");
          })
          .catch((error) => {
            console.error(error);
            alert("Error al registrar");
          });
      });
    });
  </script>
</html>