<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Matrimonio</title>
    <link rel="stylesheet" href="../../styles/models/registration.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    
  </head>
  <body>
    <h1>Matrimonios</h1>
    <form action="" class="registration-form" id="form-matrimonios" method="post">
      <label for="contrayente">Cedula del Contrayente 1: </label>
      <input type="number" name="contrayente1_cedula" id="contrayente" />

      <label for="Contrayente 2">Cedula del Contrayente 2: </label>
      <input type="number" name="contrayente2_cedula" id="Contrayente 2" />

      <label for="contrayente_padre_1">Cedula de la mama del contrayente 1: </label>
      <input type="number" name="contrayente1_padre1_cedula" id="contrayente_padre_1" />

      <label for="contrayente_padre_2">Cedula de el papa del contrayente 1: </label>
      <input type="number" name="contrayente1_padre2_cedula" id="contrayente_padre_2" />

      <label for="contrayente2_padre_1">Cedula de la mama del contrayente 2: </label>
      <input
        type="number"
        name="contrayente2_padre1_cedula"
        id="contrayente2_padre_1"
      />

      <label for="contrayente2_padre_2">Cedula de el papa del contrayente 2: </label>
      <input
        type="number"
        name="contrayente2_padre2_cedula"
        id="contrayente2_padre_2"
      />

      <label for="fecha_ActaMatrimonio">Fecha del acta:</label>
      <input type="date" name="fecha_ActaMatrimonio" id="fecha_ActaMatrimonio">


      <input type="submit" value="Registrar" />
      <a href="../registro.html" class="back-button">Ir atrás</a>

    </form>
    
  <script>

    document.addEventListener("DOMContentLoaded", (e) => {
      const miForm = document.getElementById("form-matrimonios");
      miForm.addEventListener("submit", (e) => {
        e.preventDefault();
        const formData = new FormData(miForm);
        const jsonData = Object.fromEntries(formData);
        jsonData.contrayente1_padre1_cedula = parseInt(jsonData.contrayente1_padre1_cedula);
        jsonData.contrayente1_padre2_cedula = parseInt(jsonData.contrayente1_padre2_cedula);
        jsonData.contrayente2_padre1_cedula = parseInt(jsonData.contrayente2_padre1_cedula);
        jsonData.contrayente2_padre2_cedula = parseInt(jsonData.contrayente2_padre2_cedula);

        axios
          .post("http://localhost:8000/Matrimonios/insert", jsonData)
          .then((response) => {
            console.log(response);
            alert("Registro exitoso");
          })
          .catch((error) => {
            console.error(error);
            alert("Error al registrar");
          });
      });
    });
  </script>

</html>
