<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nacimiento</title>
    <link rel="stylesheet" href="../../styles/models/registration.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <h1>Nacimientos</h1>
    <form
      action=""
      class="registration-form"
      method="post"
      id="form-nacimientos"
    >

      <label for="nombre">Nombre:</label>
      <input type="text" name="nombre" id="nombre" required/>

      <label for="fecha_nacimiento">Fecha de nacimiento:</label>
      <input
        type="date"
        name="fecha_nacimiento"
        id="fecha_nacimiento"
        required
      />

      <label for="hora_nacimiento">Hora de nacimiento:</label>
      <input
        type="time"
        name="hora_nacimiento"
        id="hora_nacimiento"
      />

      <label for="lugar_nacimiento">Lugar de nacimiento:</label>
      <input type="text" name="lugar_nacimiento" id="lugar_nacimiento" />

      <label for="cedula_padre">Cedula del padre:</label>
      <input type="number" name="padre1_cedula" id="cedula_padre"  />

      <label for="cedula_madre">Cedula de la madre:</label>
      <input type="number" name="padre2_cedula" id="cedula_madre"  />

      <label for="testigo1">Cedula del testigo 1:</label>
      <input type="number" name="testigo1_cedula" id="testigo1"  />

      <label for="testigo2">Cedula del testigo 2:</label>
      <input type="number" name="testigo2_cedula" id="testigo2" />

      <label for="parroquia">Parroquia:</label>
      <input type="text" name="parroquia" id="parroquia" />

      <label for="sexo">Sexo:</label>
      <select name="sexo" id="sexo">
          <option value="masculino">Masculino</option>
          <option value="femenino">Femenino</option>
          <option value="otro">Otro</option>
      </select>
      <input type="submit" value="Registrar" />
      <a href="../registro.html" class="back-button">Ir atrás</a>
    </form>
  </body>

  <script>

    document.addEventListener("DOMContentLoaded", (e) => {
    const miForm = document.getElementById("form-nacimientos");
    miForm.addEventListener("submit", (e) => {
    e.preventDefault();
    const formData = new FormData(miForm);

    // Convertir los campos de tipo número a números enteros
    const jsonData = Object.fromEntries(formData);
    jsonData.padre1_cedula = parseInt(jsonData.padre1_cedula);
    jsonData.padre2_cedula = parseInt(jsonData.padre2_cedula);
    jsonData.testigo1_cedula = parseInt(jsonData.testigo1_cedula);
    jsonData.testigo2_cedula = parseInt(jsonData.testigo2_cedula);

    axios
      .post("http://localhost:8000/Nacimientos/insert", jsonData)
      .then((response) => {
        console.log(response);
        alert("Registro exitoso");
      })
      .catch((error) => {
        console.error(error);
        alert("Error al registrar");
      });
  });
});

  </script>
</html>
